<div>
    <div class="row">
        <h1>Upload operator</h1>
    </div>

    <div class="row">
        <input id="txtUploadFile" name="UploadFile" type="file" class="file" accept=".dll">
    </div>

    <div class="row">
        <button id="operatorUploadButton" class="btn btn-block">Upload</button>
    </div>

    <div class="row">
        <div id="operatorUploadProgressbar" style="min-width: 200px"></div>
        <div id="operatorUploadProgresslabel"></div>
    </div>
</div>